body {
   font-family: system-ui;
  }
  .box {
   height: 20px;
   align-self: stretch;
  }
  .box2 {
   height: 43px;
   align-self: stretch;
  }
  .box3 {
   height: 52px;
   align-self: stretch;
   margin-left: 25px;
  }
  .box4 {
   height: 30px;
   align-self: stretch;
   margin-bottom: 16px;
  }
  .button {
   flex-shrink: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: #EDD466;
   border-radius: 12px;
   border: none;
   padding-top: 24px;
   padding-bottom: 24px;
   text-align: left;
  }
  .column {
   align-self: stretch;
   padding-bottom: 1px;
  }
  .column2 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   gap: 16px;
  }
  .column3 {
   align-self: stretch;
   margin-bottom: 1px;
  }
  .column4 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   background: #0000004D;
   padding: 96px 208px;
  }
  .column5 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 1px;
   margin-bottom: 47px;
   gap: 16px;
  }
  .column6 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 9px;
   margin-bottom: 49px;
   gap: 30px;
  }
  .column7 {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: #EDD466;
   border-radius: 12px;
   border: 1px solid #E4E4E480;
   padding-top: 24px;
   padding-bottom: 24px;
   gap: 23px;
   box-shadow: 0px 1px 2px #0000001A;
  }
  .column8 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: #0505054D;
   padding: 79px 192px;
  }
  .column9 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   padding-bottom: 9px;
   margin-left: 16px;
   margin-right: 16px;
   gap: 52px;
  }
  .column10 {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background: #EDD466;
   border-radius: 12px;
   border: 1px solid #E4E4E4;
   padding-top: 24px;
   padding-bottom: 24px;
   gap: 8px;
  }
  .column11 {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background: #EDD466;
   border-radius: 12px;
   border: 1px solid #E4E4E4;
   padding-top: 25px;
  }
  .column12 {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background: #EDD466;
   border-radius: 12px;
   border: 1px solid #E4E4E4;
   padding-top: 24px;
   padding-bottom: 24px;
   padding-right: 25px;
   gap: 8px;
  }
  .column13 {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-top: 2px;
  }
  .column14 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-top: 8px;
   margin-bottom: 16px;
  }
  .column15 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   padding-top: 15px;
   padding-bottom: 15px;
   gap: 35px;
  }
  .column16 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 15px 16px;
   gap: 8px;
  }
  .column17 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 16px;
   gap: 8px;
  }
  .column18 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   background: #0000004D;
   padding: 95px 208px;
   margin-bottom: 1px;
   gap: 48px;
  }
  .column19 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 2px;
   gap: 16px;
  }
  .column20 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   background: #000000;
   padding: 95px 208px;
   gap: 48px;
  }
  .contain {
   display: flex;
   flex-direction: column;
   background: #FFFFFF;
  }
  .image {
   height: 1200px;
   align-self: stretch;
   object-fit: fill;
  }
  .image2 {
   width: 182px;
   height: 44px;
   object-fit: fill;
  }
  .image3 {
   height: 25px;
   align-self: stretch;
   object-fit: fill;
  }
  .image4 {
   width: 672px;
   height: 30px;
   object-fit: fill;
  }
  .image5 {
   width: 180px;
   height: 1px;
   object-fit: fill;
  }
  .image6 {
   border-radius: 12px;
   width: 350px;
   height: 350px;
   object-fit: fill;
  }
  .image7 {
   border-radius: 12px;
   width: 350px;
   height: 231px;
   object-fit: fill;
  }
  .image8 {
   border-radius: 12px;
   width: 350px;
   height: 334px;
   object-fit: fill;
  }
  .image9 {
   border-radius: 12px;
   width: 350px;
   height: 234px;
   object-fit: fill;
  }
  .image10 {
   border-radius: 12px;
   width: 350px;
   height: 366px;
   object-fit: fill;
  }
  .image11 {
   height: 32px;
   align-self: stretch;
   object-fit: fill;
  }
  .image12 {
   height: 33px;
   margin-bottom: 16px;
   margin-left: 16px;
   margin-right: 16px;
   align-self: stretch;
   object-fit: fill;
  }
  .image13 {
   width: 672px;
   height: 56px;
   margin-bottom: 63px;
   object-fit: fill;
  }
  .image14 {
   border-radius: 12px;
   width: 48px;
   height: 48px;
   margin-left: 25px;
   object-fit: fill;
  }
  .image15 {
   border-radius: 12px;
   width: 430px;
   height: 26px;
   margin-left: 25px;
   object-fit: fill;
  }
  .image16 {
   border-radius: 12px;
   width: 430px;
   height: 37px;
   margin-left: 25px;
   object-fit: fill;
  }
  .image17 {
   border-radius: 12px;
   width: 48px;
   height: 48px;
   margin-bottom: 8px;
   margin-left: 25px;
   object-fit: fill;
  }
  .image18 {
   border-radius: 12px;
   width: 430px;
   height: 26px;
   margin-bottom: 8px;
   margin-left: 25px;
   object-fit: fill;
  }
  .image19 {
   border-radius: 12px;
   width: 430px;
   height: 15px;
   margin-bottom: 50px;
   margin-left: 25px;
   object-fit: fill;
  }
  .image20 {
   border-radius: 12px;
   width: 430px;
   height: 11px;
   margin-bottom: 50px;
   margin-left: 25px;
   object-fit: fill;
  }
  .image21 {
   border-radius: 12px;
   width: 430px;
   height: 27px;
   margin-bottom: 8px;
   margin-left: 25px;
   object-fit: fill;
  }
  .image22 {
   border-radius: 12px;
   width: 430px;
   height: 27px;
   margin-left: 25px;
   object-fit: fill;
  }
  .image23 {
   width: 123px;
   height: 47px;
   margin-bottom: 16px;
   object-fit: fill;
  }
  .image24 {
   width: 728px;
   height: 33px;
   margin-bottom: 15px;
   object-fit: fill;
  }
  .image25 {
   width: 728px;
   height: 101px;
   margin-bottom: 15px;
   object-fit: fill;
  }
  .image26 {
   width: 728px;
   height: 102px;
   object-fit: fill;
  }
  .image27 {
   width: 32px;
   height: 32px;
   object-fit: fill;
  }
  .image28 {
   width: 324px;
   height: 15px;
   object-fit: fill;
  }
  .image29 {
   width: 324px;
   height: 33px;
   object-fit: fill;
  }
  .image30 {
   width: 324px;
   height: 19px;
   object-fit: fill;
  }
  .image31 {
   width: 324px;
   height: 30px;
   object-fit: fill;
  }
  .image32 {
   height: 728px;
   flex: 1;
   object-fit: fill;
  }
  .image33 {
   width: 121px;
   height: 14px;
   object-fit: fill;
  }
  .image34 {
   height: 33px;
   align-self: stretch;
   object-fit: fill;
  }
  .image35 {
   width: 672px;
   height: 41px;
   object-fit: fill;
  }
  .image36 {
   width: 15px;
   height: 15px;
   object-fit: fill;
  }
  .image37 {
   height: 231px;
   flex: 1;
   object-fit: fill;
  }
  .image38 {
   height: 235px;
   flex: 1;
   object-fit: fill;
  }
  .image39 {
   height: 237px;
   flex: 1;
   object-fit: fill;
  }
  .image40 {
   border-radius: 6px;
   width: 16px;
   height: 16px;
   object-fit: fill;
  }
  .image41 {
   border-radius: 6px;
   width: 140px;
   height: 13px;
   object-fit: fill;
  }
  .image42 {
   width: 138px;
   height: 32px;
   object-fit: fill;
  }
  .image43 {
   height: 26px;
   align-self: stretch;
   object-fit: fill;
  }
  .image44 {
   width: 672px;
   height: 45px;
   object-fit: fill;
  }
  .row-view {
   align-self: stretch;
   display: flex;
   align-items: flex-start;
   gap: 32px;
  }
  .row-view2 {
   align-self: stretch;
   display: flex;
   align-items: center;
   gap: 32px;
  }
  .row-view3 {
   align-self: stretch;
   display: flex;
   align-items: center;
   background: #070707;
   padding: 146px 208px;
   gap: 48px;
  }
  .row-view4 {
   align-self: stretch;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;
  }
  .row-view5 {
   display: flex;
   align-items: center;
   gap: 8px;
  }
  .row-view6 {
   align-self: stretch;
   display: flex;
   align-items: flex-start;
   padding-bottom: 28px;
   gap: 24px;
  }
  .row-view7 {
   display: flex;
   align-items: center;
   background: #D76C37;
   border-radius: 6px;
   padding: 10px 16px;
   gap: 16px;
   box-shadow: 0px 1px 2px #0000000D;
  }
  .view {
   align-self: stretch;
   background: #000000;
   padding: 112px 224px;
   margin-bottom: 1px;
  }
  .view2 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   background: #FFFFFF;
   margin-bottom: 1px;
  }
  .view3 {
   align-self: stretch;
   display: flex;
   flex-direction: column;
   align-items: center;
  }